.scanner-container {
    position: relative;
    height: 100%;
  }
  
  .zxing-scanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .scanner-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .scanner-overlay::after {
    content: "";
    position: absolute;
    top: calc(20% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border: 3px solid red;
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  
  .alert-message::before {
    content: "\A \A";
    white-space: pre-wrap;
  }
  
  