<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start"> -->

      <!-- <ion-back-button defaultHref="/tabs/tab1"></ion-back-button> -->
      <!-- <ion-menu-button menuId="post-login" class="post-login-menu"></ion-menu-button> -->
    <!-- </ion-buttons> -->
    <ion-title>qr-verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isCameraVisible" class="scanner-container">
    <zxing-scanner
      class="zxing-scanner"
      #scanner
      [formats]="[qrcodeFormat]"
      [torch]="true"
      (scanSuccess)="onScanSuccess($event)"
      (camerasFound)="onCamerasFound($event)"
    ></zxing-scanner>
    <div class="scanner-mask"></div>
    <div class="scanner-overlay"></div>
  </div>
</ion-content>
