<ion-header>
  <ion-toolbar>
    <ion-title>qr-verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isCameraVisible" class="scanner-container">
    <zxing-scanner
      class="zxing-scanner"
      #scanner
      [formats]="[qrcodeFormat]"
      [torch]="true"
      (scanSuccess)="onScanSuccess($event)"
      (camerasFound)="onCamerasFound($event)"
    ></zxing-scanner>
    <div class="scanner-mask"></div>
    <div class="scanner-overlay"></div>
  </div>
</ion-content>
