.containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.imageIsResized {
width: 100%;
max-width: 50%;  /* Adjust as needed */
height: auto;
}

.buttonSmall {
max-width: 70%;  /* Adjust as needed */
margin: auto;
}
  