<ion-tabs >

  <ion-tab-bar slot="bottom" class="app-tabs">

    <ion-tab-button tab="login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="qr-verify">
      <ion-icon name="scan-circle-outline"></ion-icon>
      <ion-label>QR Verify</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="contact-us">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-tab-button> -->

    
  </ion-tab-bar>

</ion-tabs>
