<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button menuId="post-login" class="post-login-menu"></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" class="ion-text-center">

        <ion-card class="transparent-card">
          <ion-img src="..\assets\CVG_QRCodeSecurity_Logo_MASTER.png" alt="image" class="image-responsive"  ></ion-img>
          <ion-card-header>
            <ion-card-title>Welcome to CVG QR Code Security</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Here's a short description of your application.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
